*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  font-family: 'Inter', sans-serif;
  /* width: 100%; */
  margin: 0;
  /* background-color: #FBAB7E; */
  background-image: radial-gradient(circle, #d16ba5,#d16ba5,#69bff8);
  padding: 0;
  color: #111;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.status{
  display: flex;
  align-items: center;
  gap: 5px;
}

.online{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(120, 255, 120);
}
.nav-left p{
  font-size: 0.8rem;
}

.nav-left img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.nav-links {
  display: flex;
  gap: 30px;
  font-size: 14px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.hero {
  text-align: center;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  padding: 100px 20px 60px;
}

.hero h1 {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.125rem;
  color: #666;
  margin-bottom: 40px;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.hero-buttons button {
  padding: 14px 24px;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.btn-primary {
  background: #111;
  color: #fff;
}

.btn-secondary {
  background: #fff;
  color: #111;
  border: 1px solid #ccc;
}

section:nth-of-type(2){
  background-color: rgb(4, 3, 14);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
}

section:nth-of-type(2) p{
  text-transform: uppercase;
  font-size: 0.7rem;
  padding: 60px 40px;
}